<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/style.css">
    <title>{{title}}</title>
</head>
<body>
    <div class="decor-element decor-1"></div>
    <div class="decor-element decor-2"></div>

    <header>
        <div class="conteiner_for_header">
            <div class="header-left">
                <a href="{{url_for('main_bp.index')}}">Главная</a>
                <a href="#">Задачи</a>
                <a href="#">Соревновательный режим</a>
            </div>
            <a href="{{ url_for('main_bp.register') }}" class="register-btn">Зарегистрироваться</a>
        </div>
    </header>

    <div class="conteiner_for_main_text">
        <h1>Привет!</h1>
        <p>Это площадка которая позволит тебе прокачивать свои навыки в решении олимпиадных задач по профильным предметам</p>

        <div class="subjects-block">
            <p>Сейчас на площадке доступны следующие предметы:</p>
            <div class="subject-links">
                <a href="#" class="subject-link">Физика</a>
                <a href="#" class="subject-link">Математика</a>
            </div>
        </div>
    </div>
</body>
</html>