<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <dev class="conteiner_for_header">
            <a href="#">Главная</a>
            <a href="#">Задачи</a>
            <a href="#">Соревновательный режим</a>
        </dev>
    </header>
    <dev class="conteiner_for_main_text">
        <h1>Привет!</h1>
        <p>Это площадка которая позволит тебя прокачивать свои навыки в решении олимпиадных задач по профильными предметам</p>
        <p>Сейчас на площадке доступны следующие предметы: <a href="#">Физика</a>, <a href="#">Математика</a></p>
    </dev>    
</body>
</html>